{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}
<div class = "row">
<h2 class="text-center">Poster un article</h2>
    <div class="col-md-6 mx-auto">
        {{form(myArticle)}}
    </div>

</div>
{% endblock %}
